.linkspy-results-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    user-select: text;
    font-size: 0.85em;
}

.linkspy-results-content .linkspy-result-line {
    margin-bottom: 0;
    white-space: pre-wrap;
    word-break: break-word;
}

.linkspy-results-content div:not(.linkspy-result-line) {
    margin-bottom: 4px;
    white-space: pre-wrap;
    word-break: break-word;
}

.linkspy-results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.linkspy-copy-button {
    background-color: var(--interactive-normal);
    color: var(--text-normal);
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--background-modifier-border);
}

.linkspy-copy-button:hover {
    background-color: var(--interactive-hover);
}

.linkspy-results-summary {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid var(--background-modifier-border);
}

.linkspy-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.linkspy-main-title {
    margin: 0;
    font-size: 1.8em;
    color: var(--text-normal);
}

.linkspy-results-title {
    margin: 0 0 1em 0;
    font-size: 1.4em;
    color: var(--text-normal);
}

.linkspy-result-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    transition: background-color 0.2s ease;
    border-radius: 4px;
}

.linkspy-result-line:hover {
    background-color: var(--background-modifier-hover);
}

.linkspy-buttons-container {
    opacity: 0;
    transition: opacity 0.1s ease;
    display: flex;
    gap: 4px;
}

.linkspy-result-line:hover .linkspy-buttons-container {
    opacity: 1;
}

.linkspy-line-content {
    flex: 1;
}











.linkspy-result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.linkspy-result-item:hover {
    background-color: var(--background-secondary);
}

.linkspy-action-icons {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.linkspy-result-item:hover .linkspy-action-icons {
    opacity: 1;
}

.linkspy-icon {
    cursor: pointer;
    padding: 0 4px;
}

.linkspy-icon:hover {
    color: var(--text-accent);
}
